bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/*
/nupkgs/*
/src/Url2Image.Web/wwwroot/images/*
ImageGen.Web/wwwroot/images/*
/ImageGen.Web/appsettings.Development.json
/ZauberRTE.Web/appsettings.Development.json
